body {
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
}
.title {
	background-color: grey;
	color: white;
	padding: 1px 1px;
	font-size: 20px;
}

h1 {
	text-align: center;
}

.addbookmark {
	position: float;
	margin: 30px auto; 
	text-align: center;
	padding:2px 6px;
}

.textbox {
	width: 241px;
	height: 25px;
	margin-right: 10px;
	font-size: 14px;
	padding-left: 10px;
}

.submit {
	width: 80px;
	height: 28px;
	-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	background-color: #e7e7e7; 
	border:1px solid #29447E;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:14px;
	font-weight:700;
	color:black;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	vertical-align: middle;
}

.divTable{
	display: table;
	width: 56%;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
}

.divTableHeading {
	font-size: 18px;
	background: #395870;
 	color: #fff;
	display: table-header-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}

.divTableRow:nth-child(even) {
  background: #f0f0f2;
}


.divTableRow {
	display: table-row;
}

.divTableCell {
	border: none;
	display: table-cell;
	padding: 5px 10px;
}

.delete {
	-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	background-color: #e7e7e7; 
	border:1px solid #29447E;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:14px;
	font-weight:700;
	padding:2px 6px;
	color:black;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px
}

.divDelete {
	padding-right: 27px;
	text-align: right;
}